<div class="col-md-4">
    <h2>必应 Android App</h2>
    <p>
        微软出品的国际搜索引擎，提供搜索、壁纸、变脸和卡片等功能。
    </p>
    <p><a class="btn btn-default" href="http://www.wandoujia.com/apps/com.microsoft.bing">下载 &raquo;</a></p>
</div>
