
<div class="col-md-4">
        <h2>必应抽奖</h2>
        <p>
                必应抽奖
        
    </p>
        <p>
              <a class="btn btn-primary" href="/Lottery/Create">添加 &raquo;</a>
               <a class="btn btn-default" href="/Lottery/AwardsList">列表 &raquo;</a>
               <a class="btn btn-default" href="/Lottery/QueryTrigger">测试 &raquo;</a>
               <a class="btn btn-default" href="/Lottery/Review">获奖名单 &raquo;</a>
               <a class="btn btn-default" href="/Lottery/Check?k=5f6e67486e34b96315a08cca9f5bffa8d70b1645">数据校验 &raquo;</a>      
    </p>
</div>
