<div class="col-md-4">
    <h2>必应投票</h2>
    <p>
        针对用户关心的热门话题创建相关投票并和搜索结果进行集成，为用户提供表达观点和发现类似观念者的平台。
    </p>
    <p>
        <a class="btn btn-primary" href="/Vote/List">投票列表 &raquo;</a>
        <a class="btn btn-default" href="/Vote/Search">查询投票 &raquo;</a>
        <a class="btn btn-default" href="/Vote/Create">创建投票 &raquo;</a>       
    </p>
</div>
