<h2>@ViewBag.Title</h2>

@{
    Html.RenderPartial("_ShowVoteEntity");
}

<div style="margin-top:10px;">
    <p>
        <a class="btn btn-default" href="/Vote/Create">创建投票</a>
        @if (ViewBag.VoteTopic.TopicEntity.Status == "Pending" || Request.IsAuthenticated)
        {
            <a class="btn btn-default" href="/Vote/Create?tid=@ViewBag.VoteTopic.TopicId">修改投票</a>
        }
        <a class="btn btn-default" href="/Vote/Search">查询投票</a>
        <a class="btn btn-default" href="/Vote/List">投票列表</a>
    </p>
</div>

